h1 {
    color: red;
}
a:visited {
    color:yellowgreen;
}
img {
    filter: invert(1);
}
#contenu {
    background-color: rgba(211, 211, 211, 0.479); opacity: 50%;
    opacity: 100%;
}

div+div {
    text-align: right;
    font-size: 2em;
}
body {
    background-image:url(https://wallpaperaccess.com/full/3383019.jpg) ;
}
