h1 {
    color: red;
    position: relative;
    left: 35%;
    font-size: 400%;
}
h3 {
    font-size: 250%;
    color: blue;
}
.titre {
    color: green;
    text-decoration: underline;
    position: relative;
    left: 85%;
}
p {
background-color: rgba(128, 128, 128, 0.603);
}
.text3 {
    background-color: pink;
}
strong {
    font-weight: normal;
    text-indent: 0;
    color: yellowgreen;
    
}
em {
    font-style: normal;
    color: orange;
    font-size: 150%;
}

